*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-color: rgb(11, 11, 11);
    scroll-behavior: smooth;
    overflow: scroll;
}

/* NAVIGATION BAR */
nav{
    background: linear-gradient(
        180deg, 
        black, 
        rgb(50, 50, 50) 250%
    );
    top: 0;
    width: 100vw;
    height: 65px;
    position: fixed;
    z-index: 1;
}
body nav a:not(.icon){
    color: white;
    text-decoration: none;
    padding: 23px 35px;
    float: right;
}

body nav a:not(.icon):hover{
    color: black;
    background: linear-gradient(
        180deg, 
        rgb(220, 220, 220), 
        rgb(255, 255, 255)
    );
    text-decoration: none;
}

body nav img{
    height: 45px;
    margin-top:10px;
    margin-left: 30px;
}

/* HEADER/HERO */
.hero{
    margin-top: 65px;
    padding: 0;
    width: 100%;
    height: calc(80vh - 65px);
    display: flex;
    flex-direction: column;
    /* background */
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://media.giphy.com/media/j8YiZa4RDxlXE4lwsP/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}


.hero-text h1{
    margin: 15rem 0 0 160px;
    font-size: 5rem;
    width: 55vw;
    position: absolute;
}

.hero-text p{
    margin: 33rem 0 0 160px;
    font-size: 1rem;
    width: 60vw;
    font-style: italic;
}


.hero span{
    color: rgb(255, 76, 76);
    font-style: oblique;
    animation: fade-in-out 1s;
    animation-iteration-count: infinite;
}


/* BODY AND CONTENT */
main{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

main h1{
    text-align: center;
    margin: 25px 0;
    font-style: italic;
}

main p{
    text-align: center;
    margin-bottom: 10px;
}

article{
    margin: 50px auto;
    padding: 25px 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/assets/abstract-background-with-red-lines.jpg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: 100%;
}

article .article-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

figure{
    margin: auto;
    padding: 15px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px rgb(96, 96, 96);
    border-radius: 2%;
    transition: width 0.5s, height 0.5s;
    overflow: scroll;
    background-color: black;
}

figure:hover {
    width: 450px;
    height: 337.5px;

}

figure img{
    margin: auto;
    width: 300px;
    height: 169px;
    margin-top: 25px;
    transition: width 0.5s, height 0.5s;
}

figure img:hover{
    width: 330px;
    height: 186px;
}

figure figcaption{
    margin: auto;
    width: 300px;
    overflow:hidden;
    font-size: 0.8rem;
    text-align: justify;
    color: rgb(222, 222, 222);
}

article a{
    text-decoration: none;
}

.yt-vid{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)), url(/assets/abstract-background-with-red-lines.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.yt-vid iframe{
    aspect-ratio: 16/9;
    width: 50%;
}

    /* forms */

.register-header{
    margin-bottom: 25px;
    font-style: italic;
}

.register{
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)), url(/assets/abstract-background-with-red-lines.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.register fieldset{
    margin: 10px;
    padding: 35px;
    width :500px;
    border-radius: 5%;
}

form fieldset input:not(#male,#female,#not,#fiction,#realistic,#battle-royale,#adventure,#mmorpg),select,option{
    height: 1.7rem;
    color: black;
    width: 500px;
    margin: 10px;
}


form fieldset span{
    color: rgb(253, 82, 82);
    font-style: italic;
}


form button{
    margin-top: 25px;
    padding: 20px 100px;
    font-size: 18px;
    text-align: center; 
    background-color: transparent;
    color: whitesmoke;
    font-style: oblique;
    border: solid;
    border-color: white;
    border-radius: 5%;
}

form button:hover{
    color: white;
    background-color: rgb(110, 14, 14);
    cursor: pointer;
    font-weight: bold;
}


/* FOOTER */
footer{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer span{
    color: rgb(187, 0, 0);
    font-weight: 500;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

/* RESPONSIVE MEDIA QUERIES */

@media only screen and (max-width: 426px){

    body nav a:not(.icon){
        color: white;
        text-decoration: none;
        padding: 7px 10px;
        float: right;
        font-size: 0.7rem;
    }

    body nav .home{
        margin-right: 20px;
    }

    body nav img{
        height: 10px;
    }

    header .hero-text h1{
        margin: 8rem 0 0 25px;
        font-size: 3rem;
        width: 300px;
        position: absolute;
    }
    
    header .hero-text p{
        margin: 27rem 0 0 25px;
        font-size: 0.9rem;
        width: 300px;
    }

    body main h1{
        font-size: 1rem;
    }
    
    body main p{
        font-size: 0.8rem;
    }
    
    body figure{
        width: 380px;
        height: 260px;
    }

    body figure img{
        width: 280px;
        height: 158px;
    }

    body figure figcaption{
        font-size: 0.6rem;
        
    }

    form fieldset input:not(#male,#female,#not,#fiction,#realistic,#battle-royale,#adventure,#mmorpg),select,option{
        height: 1.7rem;
        width: 300px;
        margin: 5px;
    }

    textarea{
        width: 300px;
        height: 100px
    }

    form label{
        font-size: 0.8rem;
    }
   
    .register fieldset{
        margin: 10px;
        padding: 35px;
        width : 380px;
        border-radius: 5%;
    }

}


@media only screen and (max-width: 768px){

    .hero-text h1{
        margin: 8rem 0 0 70px;
        font-size: 3rem;
        width: 55vw;
        position: absolute;
    }
    
    .hero-text p{
        margin: 20rem 0 0 70px;
        font-size: 1.2rem;
        width: 60vw;
    }

    main h1{
        font-size: 2rem;
    }
    
    main p{
        font-size: 1.2rem;
    }
    
    figure{
        width: 600px;
        height: 320px;
    }

    figure img{
        width: 360px;
        height: 280px;
    }

    figure figcaption{
        font-size: 1.2rem;
        width: 280px;
    }

}


/* ANIMATION */

@keyframes fade-in-out {
    0% {opacity: 0;}
    50%{ opacity: 1;}
    100% {opacity: 0;}
}